#!/usr/bin/make -f
# export DH_VERBOSE=1

include /usr/share/dpkg/default.mk

LIBDIR_MULTIARCH = /usr/lib/$(DEB_HOST_MULTIARCH)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --with autoreconf

override_dh_auto_install:
	dh_auto_install
	@cp -n /var/lib/motionplus/motionplus-dist.conf /var/lib/motionplus/motionplus.conf
	@cp -n /var/lib/motionplus/camera1-dist.conf /var/lib/motionplus/camera1.conf

