Source: motion
Section: video
Priority: optional
Maintainer: Mr-Dave <MotionMrDave@gmail.com>
Homepage: https://motion-project.github.io/
Build-Depends: debhelper(>= 13),
 debhelper-compat( = 13),
 dpkg-dev(>= 1.16),
 libavcodec-dev,
 libavformat-dev,
 libavdevice-dev,
 libavfilter-dev,
 libavutil-dev,
 libswscale-dev,
 libjpeg-dev,
 libmariadb-dev | libmariadbclient-dev | libmysqlclient-dev,
 libpq-dev,
 libsqlite3-dev,
 libmicrohttpd-dev,
 gettext,
 libpulse-dev,
 libasound2-dev,
 libfftw3-dev,
 zlib1g-dev,
 libopencv-dev,
 libcamera-dev,
 libcamera-v4l2,
 libcamera-tools,
Standards-Version: 4.5.0

Package: motion
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base, adduser
Recommends:
Suggests:
Description: Video camera capture program supporting motion detection

