#!/usr/bin/make -f
# export DH_VERBOSE=1

include /usr/share/dpkg/default.mk

LIBDIR_MULTIARCH = /usr/lib/$(DEB_HOST_MULTIARCH)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- \
	  --without-mmal

override_dh_auto_install:
	dh_auto_install
	cd debian/motion/etc/motion && mv motion-dist.conf motion.conf
